.auth-btn {
  width: 100%;

  padding: 14px;

  border: none;

  border-radius: 12px;

  margin-top: 10px;

  background: var(--primary);

  color: white;

  font-size: 15px;

  font-weight: 600;

  cursor: pointer;

  transition: 0.25s;
}

.auth-btn:hover {
  opacity: 0.9;
}

.auth-footer {
  margin-top: 24px;

  text-align: center;

  color: var(--text-secondary);

  font-size: 14px;
}

.auth-footer a {
  color: var(--primary);

  text-decoration: none;

  font-weight: 600;
}
